
#scene1 {
  height: 70vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.sun {
  position: absolute;
  z-index: 2;
  top: 95%;
  left: 10%;
  width: 200px;
  height: 200px;
  background: #ffde4c;
  border: 5px solid #ffa322;
  border-radius: 50%;
}


.sky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: linear-gradient(to top, #0a1027 10%, #0f1a44);
}

.sky2  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  background-image: linear-gradient(to top, #14beff 10%, #93e2ff);
}



#world {
  position: absolute;
  width: 300px;
  height: 300px;
  overflow: hidden;
  //border: 1px solid #000000;
  top: 10%;
  left: 75%;
  z-index: 5;
  margin-top: -50px;
  margin-left: -50px;
  opacity: 0;
  transform: scale(0.8,0.8);
}